<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deletar Registro</title>
</head>

<body>
  <h1>Confirmar a exclusão do registro</h1>

  <p>Tem certeza de que deseja excluir o registro <strong>{{ registro.titulo }}</strong> com o id {{ registro.id }}?
  </p>

  <form method="POST">
    {% csrf_token %}
    <button type="submit">Sim, excluir</button>
  </form>

  <a href="{% url 'registros' %}">Cancelar</a>
</body>

</html>